<!-- <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span>Calculator</span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a routerLink="/add" class="">Addition</a>
        </div>
        <div class="col">
            <a routerLink="/sub" class="">Subtraction</a>
        </div>
        <div class="col">
            <a routerLink="/mul" class="">Multiplication</a>
        </div>
        <div class="col">
            <a routerLink="/div" class="">Division</a>
        </div>
        <div class="col">
            <a routerLink="/pow" class="">Exponents</a>
        </div>
        <div class="col">
            <a routerLink="/per" class="">Percentage</a>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
        <div class="col-1">
            
        </div>
    </div>
</div> -->

<div class="container">
    <app-calc></app-calc>
</div>