<div class="container border0 m-2">

    <div class="row mx-1 my-2">
        <div class="col-1">
            <!--  -->
        </div>
        <div class="col-10 text-center border1">
            <span class="font3">Calculator</span>
        </div>
        <div class="col-1">
            
        </div>
    </div>

    <div class="row testBorder my-2 p-2">
        <div class="col border1 text-center m-1 p-2">
            <button (click)="setAdd()" [ngClass]="(mathType == 'add') ? 'font1 selected' : 'font1'">Addition</button>
        </div>
        <div class="col border1 text-center m-1 p-2">
            <button (click)="setSub()" [ngClass]="(mathType == 'sub') ? 'font1 selected' : 'font1'">Subtraction</button>
        </div>
        <div class="col border1 text-center m-1 p-2">
            <button (click)="setMul()" [ngClass]="(mathType == 'mul') ? 'font1 selected' : 'font1'">Multiplication</button>
        </div>
        <div class="col border1 text-center m-1 p-2">
            <button (click)="setDiv()" [ngClass]="(mathType == 'div') ? 'font1 selected' : 'font1'">Division</button>
        </div>
        <div class="col border1 text-center m-1 p-2">
            <button (click)="setPow()" [ngClass]="(mathType == 'pow') ? 'font1 selected' : 'font1'">Exponents</button>
        </div>
        <div class="col border1 text-center m-1 p-2">
            <button (click)="setPer()" [ngClass]="(mathType == 'per') ? 'font1 selected' : 'font1'">Percentage</button>
        </div>
    </div>

    <div class="row my-2 p-2 testBorder">
        <div class="col-4">
            <!--  -->
        </div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'add'"><span class="font2">Addition</span></div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'sub'"><span class="font2">Subtraction</span></div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'mul'"><span class="font2">Multiplication</span></div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'div'"><span class="font2">Division</span></div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'pow'"><span class="font2">Exponents</span></div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'per'"><span class="font2">Percentage</span></div>
        <div class="col-4 text-center border1" *ngIf="mathType == 'none'"><span class="font2">Select math function</span></div>
        <div class="col-4">
            <!--  -->
        </div>
    </div>

    <div class="form-group">
        <form [formGroup]="formy" id="formy" name="formy" (ngSubmit)="func(in1, in2)">
            <div class="row my-2 p-2 testBorder">
                <div class="col-4">
                    <!--  -->
                </div>
                <div [ngClass]="(polarity1) ? 'col-2 p-2 border2b text-right' : 'col-2 p-2 border2a text-right'" *ngIf="mathType != 'none' && mathType != 'per'">
                    <span class="font1">First number: </span>
                </div>
                <div class="col-2 p-2 text-right border1" *ngIf="mathType == 'none' || mathType == 'per'">
                    <span class="font1">First number: </span>
                </div>
                <div [ngClass]="(polarity1) ? 'col-2 p-2 border2b' : 'col-2 p-2 border2a'" *ngIf="mathType != 'none' && mathType != 'per'">
                    <input type="text" maxlength="7"
                    name="num1" id="num1" class="font4 num" formControlName="num1"
                    (keyup)="update1()" (keypress)="onlyNums($event)" required>
                </div>
                <div class="col-2 p-2 border1" *ngIf="mathType == 'per'">
                    <input type="text" maxlength="7"
                    name="num1" id="num1" class="font4 num" formControlName="num1"
                    (keyup)="update1()" (keypress)="onlyNums($event)" required>
                </div>
                <div class="col-2 p-2 border1" *ngIf="mathType == 'none'">
                    <input type="text" maxlength="7" disabled class="font4 num">
                </div>
                <div class="col-4">
                    <!--  -->
                </div>

                <div class="col-5">
                    <!--  -->
                </div>
                <div [ngClass]="(polarity1) ? 'col-2 p-2 border2b text-center' : 'col-2 p-2 border2a text-center'"
                    *ngIf="mathType != 'none' && mathType != 'per' && (in1 > 0 || in1 < 0)">
                    <span class="font1">±</span> &nbsp;
                    <input type="checkbox" id="p2" name="p2" [(ngModel)]="polarity1"
                    [ngModelOptions]="{standalone: true}" (click)="flip1()">
                </div>
                <div class="col-5">
                    <!--  -->
                </div>
            </div>

            <div class="row my-2 p-2 testBorder">
                <div class="col-4">
                    <!--  -->
                </div>
                <div [ngClass]="(polarity2) ? 'col-2 p-2 border2b text-right' : 'col-2 p-2 border2a text-right'" *ngIf="mathType != 'none'">
                    <span class="font1">Second number: </span>
                </div>
                <div class="col-2 p-2 text-right border1" *ngIf="mathType == 'none'">
                    <span class="font1">Second number: </span>
                </div>
                <div [ngClass]="(polarity2) ? 'col-2 p-2 border2b' : 'col-2 p-2 border2a'" *ngIf="mathType != 'none'">
                    <input type="text" maxlength="7"
                    name="num2" id="num2" class="font4 num" formControlName="num2"
                    (keyup)="update2()" (keypress)="onlyNums($event)" required>
                </div>
                <div class="col-2 p-2 border1" *ngIf="mathType == 'none'">
                    <input type="text" maxlength="7" disabled class="font4 num">
                </div>
                <div class="col-4">
                    <!--  -->
                </div>

                <div class="col-5">
                    <!--  -->
                </div>
                <div [ngClass]="(polarity2) ? 'col-2 p-2 border2b text-center' : 'col-2 p-2 border2a text-center'"
                    *ngIf="mathType != 'none' && (in2 > 0 || in2 < 0)">
                    <span class="font1">±</span> &nbsp;
                    <input type="checkbox" id="p2" name="p2" [(ngModel)]="polarity2"
                    [ngModelOptions]="{standalone: true}" (click)="flip2()">
                </div>
                <div class="col-5">
                    <!--  -->
                </div>
            </div>

            <div class="row my-2 testBorder">
                <div class="col-4">
                    <!--  -->
                </div>
                <div class="col-4 text-center border1 p-2" *ngIf="!in1 || !in2">
                    <button disabled class="font1">Enter two numbers to calculate</button>
                </div>

                <div class="col-4 text-center p-2 border1" *ngIf="in1 && in2">
                    <button *ngIf="mathType == 'add'" class="font1">Calculate sum of <span *ngIf="!polarity1">(</span>{{in1}}<span *ngIf="!polarity1">)</span> + <span *ngIf="!polarity2">(</span>{{in2}}<span *ngIf="!polarity2">)</span></button>
                    <button *ngIf="mathType == 'sub'" class="font1">Calculate difference of <span *ngIf="!polarity1">(</span>{{in1}}<span *ngIf="!polarity1">)</span> - <span *ngIf="!polarity2">(</span>{{in2}}<span *ngIf="!polarity2">)</span></button>
                    <button *ngIf="mathType == 'mul'" class="font1">Calculate product of <span *ngIf="!polarity1">(</span>{{in1}}<span *ngIf="!polarity1">)</span> × <span *ngIf="!polarity2">(</span>{{in2}}<span *ngIf="!polarity2">)</span></button>
                    <button *ngIf="mathType == 'div'" class="font1">Calculate quotient of <span *ngIf="!polarity1">(</span>{{in1}}<span *ngIf="!polarity1">)</span> ÷ <span *ngIf="!polarity2">(</span>{{in2}}<span *ngIf="!polarity2">)</span></button>
                    <button *ngIf="mathType == 'pow'" class="font1">Calculate <span *ngIf="!polarity1">(</span>{{in1}}<span *ngIf="!polarity1">)</span> to the <span *ngIf="!polarity2">negative </span>{{in2}}{{end}} power</button>
                    <button *ngIf="mathType == 'per'" class="font1">Calculate {{in1}}% of <span *ngIf="!polarity2">(</span>{{in2}}<span *ngIf="!polarity2">)</span></button>
                </div>
                <div class="col-4">
                    <!--  -->
                </div>
            </div>

            <div class="row my-2 ">
                <div class="col-4">
                    <!--  -->
                </div>
                <div class="col-4 text-center border1" *ngIf="rtn != null">
                    <span class="font5" *ngIf="rtn != undefined">{{rtn}}</span>
                </div>
                <div class="col-4">
                    <!--  -->
                </div>
            </div>

        </form>
    </div>
    
</div>