@import url('https://fonts.googleapis.com/css2?family=Play&family=Source+Code+Pro&display=swap');

.font1{
    font-family: 'Play', sans-serif;
    font-size: 18px;
    color: navy;
}

.font2{
    font-family: 'Play', sans-serif;
    font-size: 24px;
    color: navy;    
}

.font3{
    font-family: 'Play', sans-serif;
    font-size: 36px;
    color: navy;
}

.font4{
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
}

.font5{
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    color: navy;
}

/* .testBorder{
   border: solid red 1px;
} */
 
.border1{
    border: solid 1px black;
    background-color: rgb(165, 165, 165);
    border-radius: 4px;
}

.border2a{
    border: solid 1px black;
    background-color: rgb(175, 165, 165);
    border-radius: 4px;
}
.border2b{
    border: solid 1px black;
    background-color: rgb(165, 175, 165);
    border-radius: 4px;
}

.border0{
    border: solid 6px black;
    background-color: silver;
}

body{
    background-color: rgb(26, 1, 55);
    animation-name: bg;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

button, input{
    border-radius: 16px;
    background-color: rgb(149, 176, 196);
}

.num{
    width: 85%;
}

:disabled{
    background-color: rgb(125, 125, 125);
}

.selected{
    border-radius: 16px;
    background-color: rgb(170, 201, 15);
}

@keyframes bg{
    0%      {background-color: rgb(26, 1, 55)}
    10%     {background-color: rgb(27, 0, 58)}
    20%     {background-color: rgb(28, 0, 61)}
    30%     {background-color: rgb(29, 0, 64)}
    40%     {background-color: rgb(30, 0, 67)}
    50%     {background-color: rgb(31, 0, 70)}
    60%     {background-color: rgb(32, 0, 73)}
    70%     {background-color: rgb(33, 0, 76)}
    80%     {background-color: rgb(34, 0, 79)}
    90%     {background-color: rgb(35, 0, 82)}
    100%    {background-color: rgb(36, 0, 85)}
}
